@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* primary-color: ##ee5253
  secondary-color:  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  font-size: 1.6rem;
  /* overflow: hidden; */
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem rgba(238, 82, 82, 0.5);
}
/* ==================HEADER=============== */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.4rem;
  padding: 4.8rem 4.8rem 0;
}
.logo {
  height: 3.2rem;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: #333;
  font-size: 1.6rem;
  transform: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #ee5253;
}
.main-nav-link.cta-link:link,
.main-nav-link.cta-link:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 10px;
  color: #fff;
  background-color: #ee5253;
}
.main-nav-link.cta-link:hover,
.main-nav-link.cta-link:active {
  background-color: #d64a4b;
}

/* ==================HERO================== */
.hero-section {
  padding: 2.4rem 0 6.4rem 0;
}

.hero {
  max-width: 120rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  align-items: center;
  gap: 4.8rem;
  padding: 0 3.2rem;
}
.hero-image {
  width: 100%;
}
.heading-primary {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.1;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}
.hero-description {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}

.btn:link,
.btn:visited {
  font-size: 1.6rem;
  padding: 1.6rem 3.2rem;
  color: #fff;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.3s;
  margin-right: 1.6rem;
}
.btn-full:link,
.btn-full:visited {
  background-color: #ee5253;
}
.btn-full:hover,
.btn-full:active {
  background-color: #d64a4b;
}
.btn-outline:link,
.btn-outline:visited {
  background-color: #fff;
  color: #333;
}
.btn-outline:hover,
.btn-outline:active {
  background-color: #fdeeee;
  color: #333;
  box-shadow: inset 0 0 0 3px #fff;
}
/* ==================REUSABLE GRID================== */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 9.8rem;
}
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}
.grid-center-v {
  align-items: center;
}
.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* ==================HOW IT WORKS================== */
.how-it-works {
  padding: 9.6rem 0;
  background-color: #fdeeee;
}
/* .how-it-works div div {
  padding: 9.6rem;
  font-size: 4.8rem;
} */
.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.step-img-box::before,
.step-img-box::after {
  content: '';
  display: block;

  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.step-img-box::before {
  width: 70%;
  padding-bottom: 70%;
  background-color: #fdeeee;
  z-index: -2;
}
.step-img-box::after {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fcdcdd;
  z-index: -2;
}
.step-image {
  width: 50%;
  border-radius: 10px;
}
.step-number {
  font-size: 9.8rem;
  color: #ddd;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
.subheading {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: #ee5253;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.heading-secondary {
  font-weight: 600;
  letter-spacing: -0.05px;
  color: #333;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 12.8rem;
}
.heading-tertiary {
  font-weight: 600;
  letter-spacing: -0.05px;
  color: #333;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  font-size: 2.6rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

/* ==================FEATURED================== */
.featured-section {
  padding: 4.8rem 0 3.2rem;
}
.featured-heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #555;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  filter: brightness(0);
  opacity: 60%;
}
/* ==================WINES================== */
.wine-section {
  padding: 9.6rem 0;
}
.wine-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 2rem;
}
.wine-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.wine-attribute {
  display: flex;
  align-items: center;
}

.wine {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.wine:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.075);
}

.wine-image {
  width: 100%;
}
.wine-icon {
  height: 2rem;
  width: 2rem;
  color: #ee5253;
}
.wine-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #333;
  border-radius: 100px;
  margin-bottom: 0.8rem;
}
.tag-red {
  background-color: #ee9595;
}
.tag-pink {
  background-color: #ee9595;
}
/* .wine-container {
} */
.wine-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.list-icon {
  height: 2rem;
  width: 2rem;
  color: #ee5253;
}
.all-wines {
  margin-top: 3.6rem;
  text-align: center;
}
.link:link,
.link:visited {
  display: inline-block;
  color: #ee5253;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}
.link:hover,
.link:active {
  color: #d64a4b;
  border-bottom: 1px solid transparent;
}

/* ==================TESTIMONIALS================== */

.testimonials-section {
  background-color: #fdeeee;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.testimonials-container {
  padding: 8.2rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 6rem;
}

.testimonials-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonials-text {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonials-name {
  font-size: 1.6rem;
  color: #555;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.gallery-item {
  overflow: hidden;
}

.gallery-image {
  width: 100%;
  display: block;
  height: 100%;
  transition: all 0.3s;
}
.gallery-image:hover {
  transform: scale(1.1);
}
/* ==================feature================== */
.feature {
  margin: 9.6rem 0;
}
.feature-icon {
  color: #ee5253;
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
  background-color: #fdeeee;
}
.feature-title {
  font-size: 2.1rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.6rem;
  line-height: 1.8;
}

/* ==================CALL TO ACTION================== */
.cta-section {
  padding: 9.6rem 0;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.015);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #ee5253, #f17575);

  overflow: hidden;
}
.cta .heading-secondary {
  color: #471919;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta-text-box {
  color: #471919;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(238, 82, 82, 0.212),
      rgba(241, 117, 117, 0.068)
    ),
    url('/images/girl.jpg');
  background-size: cover;
  background-position: center;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdeeee;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cta-form input::placeholder {
  color: #aaa;
}
.cta-form select {
}
.cta-form button {
  align-self: end;
  padding: 1.2rem;
  background-color: #471919;
  color: #fdeeee;
}
.btn {
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  padding: 1.6rem 3.2rem;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #fff;
  color: #333;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem rgba(253, 238, 238, 0.5);
}
/* ==================PRICING================== */

/* ==================FOOTER================== */

/* ==================HELPER CLASS================== */
.center-text {
  text-align: center;
}
